click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1

# reder dash board: https://dashboard.render.com/web/srv-cr36iiogph6c739a8ffg/deploys/dep-cr36iiogph6c739a8fj0
